.header{
    background-color: #302f2f75;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo-span{
  color: #547b9f;
}
.logo{
  color: #fff;
}
.nav-list{
   display: flex;
   align-items: center;
   gap: 20px;
   margin-right: 250px;
}
.nav-item{
  color: #fff;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  
}
.homebtn {
  width: 100px;
  height: 40px;
  background-color: #003465;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 11px;
  padding: 0 20px; 
}
.homebtn:hover{
    opacity: 0.7;
}

@media (max-width: 768px) {
  .homebtn {
    width: 100px;
    margin: auto 0; 
  }}
  .avatar-div{
    display: flex;
    align-items: center;
    cursor:  pointer;
    gap: 12px;
    padding: 10px;
  }
.avatar{
  width: 40px;
  border-radius: 50%;
}
.avatar-text{
  color: #ffffff;
}